# Sao chép thành .env.local khi chạy `vercel dev`
MONGODB_URI="mongodb+srv://user:pass@cluster.mongodb.net/group_fund?retryWrites=true&w=majority"
APP_TOKEN="ma-cho-thanh-vien"
ADMIN_TOKEN="ma-cho-nguoi-quan-ly"
